.header-container{
    background-color: #f1f5f9;
    height: 10vh;
    padding: 10px;
}
.website-logo{
    width: 140px;
}
.nav-link{
    text-decoration: none;
}
.nav-responsive{
    width: 90%;
    margin: auto;
}